@charset "UTF-8";
/*==================================================================
1. body
===================================================================*/
body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}
#wrapper{
	width: 100%;
}

a {
	color: #000;
	text-decoration: none;
	display: block;
}

/*==================================================================
2. header
===================================================================*/
#header{
	width: 100%;
	max-width: 1000px;
	min-width: 980px;
	margin: 0 auto;
}

.header_area{
	width: 60%;
	float: left;
}

#header h1{
	float: left;
	position: relative;
	z-index: 100;
}

#header h2{
	margin: 10px 0 0 0;
	font-size: 12px;
	margin-left: 5px;
	position: relative;
	top: 10px;
	left: 20px;
}

.utility{
	width: 40%;
	float: left;
	margin: 10px 0 0 0
}

.utility ul{
	margin: 0 0 30px 0;
}

.utility ul li{
	width: 25%;
	float: left;
	font-size: 12px;
	text-indent: 10px;
}

.utility ul li:nth-child(1){
	background: url(../img/ico_01.png) no-repeat left center;
}

.utility ul li:nth-child(2){
	background: url(../img/ico_02.png) no-repeat left center;
}

.utility ul li:nth-child(3){
	background: url(../img/ico_03.png) no-repeat left center;
}

.utility ul li:nth-child(4){
	background: url(../img/ico_04.png) no-repeat left center;
}

.utility form{
	text-align: right;
	margin: 0 0 10px 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}
input[type="search"]:focus {
	outline-offset: -2px;
}
input[type="search"]::-webkit-search-decoration {
 	display: none;
}

.utility form input{
	width: 50%;
	max-width: 200px;
	font-size: 12px;
	padding: 4px;
	border: 1px solid #999;
}

/*==================================================================
3. navi
===================================================================*/
#navi{
	width: 100%;
	min-width: 1000px;
	min-width: 980px;
}

#navi ul li{
	float: left;
	width: 15.625%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
}

#navi ul li a{
	display: block;
}

#navi ul li:nth-child(2){
	border-bottom: 2px solid #e7141a;
}

#navi ul li:nth-child(3){
	border-bottom: 2px solid #eabd19;
}

#navi ul li:nth-child(4){
	border-bottom: 2px solid #009f3d;
}

#navi ul li:nth-child(5){
	border-bottom: 2px solid #0085c7;
}
#navi ul li:nth-child(6){
	border-bottom: 2px solid #000000;
}

#navi ul li:nth-child(2) a:hover{
	border-bottom: 4px solid #e7141a;
	height: 46px;
}

#navi ul li:nth-child(3) a:hover{
	border-bottom: 4px solid #eabd19;
	height: 46px;
}

#navi ul li:nth-child(4) a:hover{
	border-bottom: 4px solid #009f3d;
	height: 46px;
}

#navi ul li:nth-child(5) a:hover{
	border-bottom: 4px solid #0085c7;
	height: 46px;
}
#navi ul li:nth-child(6):hover {
	border-bottom: 4px solid #000000;
	height: 46px;
}
#navi ul li:nth-child(6) a {pointer-events: none;}

#navi ul li:first-child{
	width: 10.9375%;
	display: block;
	border-bottom: 2px solid #e7141a;
}
#navi ul li:last-child{
	width: 10.9375%;
	display: block;
	border-bottom: 2px solid #000000;
}

/* dropdown */
#navi ul li ul.sub-menu {
	display: none;
	opacity: 0.8;
	width: 15.625%;
	position: absolute;
	margin-top: 2px;
	z-index: 1;
}

#navi ul li:hover ul.sub-menu {
    display: block;
}

#navi ul li ul.sub-menu li{
	width: 48.673%;
	height: 28px;
	border: 2px solid #C4C4C4;
	border-top: none;
	overflow: hidden;
}

#navi ul li ul.sub-menu li:nth-child(2n) {border-left: none;}

#navi ul li ul.sub-menu li a {
	line-height: 30px;
	font-size: 12px;
	padding: 0 10px 0 10px;
	text-align: left;
	background-color: #FFF;
	color: #000;
	pointer-events: auto;
}
 
#navi ul li ul.sub-menu li a:hover  {
    background-color: #EEE;  /*マウスオーバー時に背景色を変える*/
}


/*==================================================================
4. style setting
===================================================================*/
#contents{
	width: 78.125%;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 1000px;
}

/*==================================================================
5. headline
===================================================================*/
.headline{
	width: 78.125%;
	min-width: 1000px;
	margin: 0;
}

/*==================================================================
6. main
===================================================================*/

#main {
	width: 79%;
	float: left;
	margin: 50px 2% 0 0;
}

#main > article{
	width: 31.64556962%;
	float: left;
	margin: 0 2.5% 30px 0;
	height: 320px;
}

#main > article:nth-child(3n){
	margin: 0;
}

#main article dl{
	width: 100%;
}

#main article dt{
	font-size: 12px;
	width: 100%;
	color: #fff;
	line-height: 20px;
	text-indent: 10px;
	background: #009f3d; /*class*/
}

#main article dd{
	border: 1px solid #ccc;
}

#main article dd img {
	font-size: 0;
	vertical-align: bottom;
}

#main article time{
	font-size: 14px;
	font-weight: bold;
}

#main article h3{
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 0 0 6%;
}

#main article p{
	font-size: 10px;
	color: #777777;
	text-align: right;
	margin: 0 6% 0 0;
	line-height: 30px;
}

#main > p{
	clear: both;
	width: 63%;
	line-height: 40px;
	background: #f0efef;
	text-align: center;
	margin: 0 auto;
}

#main > p a{
	display: block;
}

.post_data{
	width: 100%;
	margin: 5px 0 15px 0;
}

.post_data time{
	float: left;
	width: 40%;
	line-height: 40px;
	text-align: center;
	border-bottom: 2px solid #009f3d;
	margin: 0 6% 0 0;
}

.post_data ul {
	margin: 10px 0 0 0;
	width: 54%;
}

.post_data ul li{
	font-size: 10px;
	width: 37%;
	line-height: 16px;
	text-align: center;
	border: 2px solid #009f3d;
	border-radius: 16px;
	float: left;
	margin: 0 3%;
}

/*
news_box
-------------------------------------------------------------------*/
.news_box {
	margin-bottom: 40px;
	overflow: scroll;
	max-height: 226px;
}

.news_box > h3 {
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	background: #000;
	text-align: left;
	text-indent: 10px;
}

.news {
	border: dotted 1px #444;
	border-top: none;
}

.news ul li {
	margin: 0 10px;
	border-bottom: dotted 1px #444;
}

.news ul li:nth-last-child(1) {
	border-bottom: none;
}

.news ul li span {
	font-weight: bold;
	margin: 5px 0;
	display: block;
}

.news ul li h4 > a {
	margin: 0 0 5px 10px;
}

.news ul li h4 > a:hover {
	text-decoration: underline;
	opacity: 0.5;
}

/*
article_box
--------------------------------------------------------------------*/
.article_box > article{
	width: 31.64556962%;
	float: left;
	margin: 0 2.5% 30px 0;
	height: 320px;
}

.article_box > article:nth-child(3n){
	margin: 0;
}

.article_box article dl{
	width: 100%;
}

.article_box article dt{
	font-size: 12px;
	width: 100%;
	color: #fff;
	line-height: 20px;
	text-indent: 10px;
	background: #009f3d; /*class*/
}

.article_box article dd{
	border: 1px solid #ccc;
}

.article_box article dd img {
	font-size: 0;
	vertical-align: bottom;
}

.article_box article time{
	font-size: 14px;
	font-weight: bold;
}

.article_box article h3{
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 0 0 6%;
}

.article_box article p{
	font-size: 10px;
	color: #777777;
	text-align: right;
	margin: 0 6% 0 0;
	line-height: 30px;
}

.article_box > p{
	clear: both;
	width: 63%;
	line-height: 40px;
	background: #f0efef;
	text-align: center;
	margin: 0 auto;
}

.article_box > p a{
	display: block;
}


/*==================================================================
7. sidebar
===================================================================*/
#sidebar{
	width: 19%;
	min-width: 190px;
	float: left;
}

#top_sidebar {margin: 50px 0 0 0;}

#sidebar h4{
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	background: #000;
	text-align: center;
	margin: 0 0 20px 0;
}

#sidebar > section{
	margin: 0 0 50px 0;
}
#sidebar ul li section {
margin: 0 0 50px 0;
}

.event_side ul li{
	margin: 0 0 20px 0;
	border: 1px solid #f0efef;
	font-size: 0;
	height: 126px;
}

.recommend_side article,.ranking_side article {
	border-top: 1px solid #f0efef;
	border-left: 1px solid #f0efef;
	border-right: 1px solid #f0efef;
}

.recommend_side article:nth-child(6),.ranking_side article:nth-child(5){
	border-bottom: 1px solid #f0efef;
}

.ranking_side article{
	position: relative;
}

.recommend_side article dt,.ranking_side article dt{
	float: left;
	width: 58px;
	height: 58px;
	border-right:1px solid #f0efef;
}

.recommend_side article dd,.ranking_side article dd{
	float: left;
	width: 124px;
	font-size: 12px;
	line-height: 17px;
	margin: 5px 0 0 4px;
}

#wpp-4 section {counter-reset: wpp-ranking;}
#wpp-4 section ul article:before {
color: #FFF;
font-size: 10px;
text-indent: 5px;
line-height: 20px;
width: 100%;
content: counter(wpp-ranking, decimal);
counter-increment: wpp-ranking;
position: absolute;
background: url(../img/bg_01_ranking.png) no-repeat left top;
z-index: 1000;
}

.link_side p{
	border: 2px solid #f0efef;
}

.more_side {
	width: 100%;
	font-size: 10px;
	line-height: 14px;
	line-height: 30px;
	background: #f0efef;
	text-align: center;
	margin: 20px 0 0 0;
}

/*==================================================================
8. footer
===================================================================*/
#footer{
	width: 100%;
	margin: 50px 0 0 0;
}

#footer p:nth-child(2){
	text-align: center;
	margin: 50px 0 0 0;
}

.text_navi {
	margin: 30px auto;
	width: 46.875%;
	min-width: 600px;
}

.text_navi li{
	float: left;
	width: 20%;
	font-size: 12px;
	text-align: center;
}

.text_navi_social {
	width: 15.625%;
	margin: 0 auto 30px auto;
}

.text_navi_social li{
	float: left;
	width: 50%;
	text-align: center;
}

#footerline li {
	float: left;
	width: 20%;
	height: 2px;
	margin-bottom: 30px;
}

li.red {background: #e7141a;}
li.yellow {background: #eabd19;}
li.green {background: #009f3d;}
li.blue {background: #0085c7;}
li.black {background: #000;}

address{
	text-align: center;
	margin: 10px 0;
	font-size: 12px;
}

/*==================================================================
9. single
===================================================================*/
.single_content{
	border: 1px solid #d2d2d2;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.single_header{
	margin: 70px 0 0 0;
}

.single_header_data{
	border-bottom: 2px solid #eabd19;
	padding: 0 0 20px 0;
	margin: 0 0 40px 0;
}

.single_header_data ul{
	float: left;
	margin: 0 0 0 17.7215%;
}

.single_header_data p{
	float: left;
	font-size: 24px;
	font-weight: bold;
	text-indent: 8.8608%;
}

.single_header_data ul li{
	float: left;
	font-size: 10px;
	width: 60px;
	line-height: 16px;
	text-align: center;
	border: 2px solid #e7141a;
	border-radius: 16px;
	margin: 0 20px 0 0;
}

.single_header_data h2{
	float: right;
	background: #eabd19;
	color: #FFF;
	font-size: 14px;
	padding: 3px 0;
	width: 31.6456%;
	text-indent: 5px;
}

.single_header_area{
	margin: 0 8.8608%;
}

.single_header_area h1{
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
}

.single_btn{
	margin: 30px 0 50px 0;
}

.single_btn li{
	float: left;
	margin: 0 10px 0 0;
}
li.hatena {margin: 0 10px 0 -40px;}

/* 記事作成に関するCSS */
.single_area{
	padding: 0 8.8608% 70px 8.8608%;
}

.single_area p{
	font-size: 16px;
	line-height: 40px;
}

.single_area h2{
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	text-indent: 1.333%;
	border-left: 5px solid #000;
	margin: 20px 0 ;
}

.single_area p > img{
	width: 100%;
	margin: 20px 0;
	border: 1px solid #d2d2d2;
}

.single_area p:last-child{
	text-align: right;
}

.single_footer_area{
	padding: 0 8.8698%;
}

.single_footer_area h4{
	font-size: 12px;
	line-height: 20px;
	text-indent: 5px;
	color: #FFF;
	background: #000;
	margin: 0 0 40px 0;
}

.single_footer_writter{
	margin: 0 0 50px 0;
}

.single_footer_writter p:nth-child(1){
	float: left;
	width: 150px;
}

.single_footer_writter p:nth-child(2){
	float: left;
	width: 440px;
	font-size: 14px;
	line-height: 30px;
	margin: 0 0 0 50px;
}

.single_footer_recommend{

}

.single_footer_recommend dl:nth-child(1),.single_footer_recommend dl:nth-child(3){
	float: left;
}

.single_footer_recommend dl:nth-child(2),.single_footer_recommend dl:nth-child(4){
	float: right;
}

.single_footer_recommend dl{
	width: 300px;
	margin: 0 0 50px 0;
}

.single_footer_recommend dt{
	float: left;
}

.single_footer_recommend dt img{
	width: 95px;
	border: 1px solid #d2d2d2;
}

.single_footer_recommend dd{
	width: 200px;
	height: 97px;
	float: left;
	line-height: 20px;
	font-size: 14px;
	padding: 10px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.single_footer_comment{
	padding: 0 0 70px 0;
}

/* ------------------------------------------------------------------
1-1. Font color styles
-------------------------------------------------------------------*/

/*
category_all styles
-------------------------------------------------------------------*/
/* blue */
#main article.category21 dt {background-color: #0085c7;}
#main article.category21 section.post_data time {border-bottom: solid 2px #0085c7;}
#main article.category21 section.post_data ul li {border: 2px solid #0085c7;}
/* yellow */
#main article.category1 dt {background-color: #EABD19;}
#main article.category1 section.post_data time {border-bottom: solid 2px #EABD19;}
#main article.category1 section.post_data ul li {border: 2px solid #EABD19;}
/* black */
#main article.category11 dt {background-color: #444;}
#main article.category11 section.post_data time {border-bottom: solid 2px #444;}
#main article.category11 section.post_data ul li {border: 2px solid #444;}
/* red */
#main article.category23 dt {background-color: #FF2727;}
#main article.category23 section.post_data time {border-bottom: solid 2px #FF2727;}
#main article.category23 section.post_data ul li {border: 2px solid #FF2727;}
/* samurai  */
#main article.category52 dt {background-color: #2D49C0;;}
#main article.category52 section.post_data time {border-bottom: solid 2px #2D49C0;;}
#main article.category52 section.post_data ul li {border: 2px solid #2D49C9;}



/*
page top styles
-------------------------------------------------------------------*/
p.all {
	font-size: 20px;
	margin: 30px 0 -20px 0;
	width: 790px;
}

.yellow_border {border-bottom: solid 3px #EABD19;}
.green_border {border-bottom: solid 3px #009f3d;}
.blue_border {border-bottom: solid 3px #0085c7;}

.jt, .work, .officer, .about {margin-bottom: 150px;}

#main span.page_theme {
	clear: both;
	font-size: 24px;
	font-weight: bold;
	border-bottom: solid 3px #000;
}

.mission {
	position: relative;
	top: 45px;
}
.vision {
	position: relative;
	top: 105px;
	left: 40px;
}
.value {
	position: relative;
	top: 165px;
	left: 80px;
}
.page_text {
	clear: both;
	margin: 10px;
	line-height: 3;
	position: relative;
	top: 30px;
}

.work li {
	width: 45%;
	margin: 0 5% 0 0;
	float: left;
}
.work li:nth-child(2) {margin: 0;}
.work li:nth-child(4) {margin: 0;}

.work_title {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px 0;
}

.officer li {
	width: 250px;
	height: 400px;
	margin: 0 20px 0 0;
	float: left;
}
.officer li:last-child {margin:0;}

.officer_p {font-size: 12px;}
.officer_name {font-size: 24px;}
.en {
	position: relative;
	top: 15px;
	left: 15px;
}
.officer_text {
	clear: both;
	font-size: 14px;
	width: 225px;
	margin: 30px 0;
}

.about_table {margin: 20px 0;}

.th {
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
}
.td {
	font-weight: bold;
	line-height: 2;
	position: relative;
	left: 60px;
}

.pdf {
	text-decoration: underline;
}

.simplemap {
	margin-top: 20px;
	position: relative;
	left: 60px;
}


/*
contact-form
------------------------------------------------------------------*/
table {
    border: 1px solid #DDDDDD;
    margin: 0 0 1em;
    width: 100%;
    font-size: 12px;
}
tr {
    border-top: 1px solid #DDDDDD;
}
th {
    background: none repeat scroll 0 0 #F4F4F4;
    font-weight: normal;
    padding: 18px 15px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}
td {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 18px 15px;
}
table tr:first-child {
    border: medium none;
}
.length-l {
    width: 98%;
}
.length-m {
    width: 50%;
}
input.submit {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}
.require {
    color: #FF0000;
    font-size: 80%;
    font-weight: normal;
    white-space: nowrap;
}
.require:before {
    content: " ";
    white-space: normal;
}

/*
J-Space
-------------------------------------------------------------------*/
.j_space {
	/*border: 1px solid #d2d2d2;*/
	width: 100%;
}

.j_space_area {
	margin: 0 8.8608% 70px 8.8608%;
}

.j_space > div img {
	width: 100%;
}

.js_img li {
	float: left;
	width: 49%;
	margin: 10px 2% 0 0;
}

.js_img li:nth-child(2), .js_img li:nth-child(4) {
	margin: 10px 0 0 0;
}

.js_img li img {
	width: 100%;
}

/*==================================================================
10. mobile
===================================================================*/
/*400px以下にならないので今は400で、アップするときは320pxに変更,jsも */
@media screen and (max-width : 400px){

.utility, #searchform, #sidebar, .news_box, #footer p:nth-child(2) {display: none;}

#header, #navi, #contents, .header_area, .headline, #main, #footer {
	max-width: 320px;
	min-width: 320px;
}

#navi, .headline, #footer {
	margin: 0 auto;
}

.headline {
	display: none;
}

#header h1 {
	text-align: center;
	float: none;
	margin-top: 30px;
}

#header h2 {
	position: absolute;
	left: 60px;
}

#navi ul li, #main > article, .article_box > article {
	float: none;
	width: 100%;
}

#main > article, .article_box > article, #main > article:nth-child(3n),  .article_box > article:nth-child(3n) {
	margin: 0 0 20px 0;
	height: 126px;
	overflow: hidden;
}

#main > article:nth-last-child(1) {margin: 0 0 40px 0;}

#navi ul li:nth-child(1), #navi ul li:nth-child(6), #navi ul li:nth-child(7) {
	display: none;
}

#main article dl {
	width: 160px;
	float: left;
}

.post_data {
	width: 150px;
	padding: 0 0 0 10px;
	margin: 0;
}

.post_data time {
	width: 100%;
	line-height: 18px;
	text-align: left;
	text-indent: 5px;
	margin: 0;
}

.post_data ul {
	width: 100%;
	padding: 10px;
}

#main article h3 {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 0 0 0 10px;
	overflow: hidden;
}

#main article p {
	line-height: 12px;
	margin: 0 5px;
}

.article_box p {margin: 20px auto 40px auto;}

/*
mobile_single
------------------------------------------------------*/
.single_content {border-bottom: none;}
.single_header {margin: 30px 0 0 0;}

.single_header_data p {
	float: none;
	font-size: 16px;
	position: relative;
	bottom: -40px;
}

.single_header_data ul {
	float: right;
	position: relative;
	top: 18px;
	left: 10px; 
}

.single_header_data ul li {
	margin: 0 15px 0 0;
}

.single_header_data h2 {
	width: 50%;
	position: relative;
	top: -40px;
}

.single_header_area h1 {
	font-size: 16px;
	line-height: 30px;
}

.single_btn li {
	margin: 0 3px 0 0;
}

.single_area h2 {font-size: 16px;}

.tw {width:100px;}



/*
mobile_footer
------------------------------------------------------*/
.text_navi {
	min-width: 320px;
	width: 100%;
}

#footerline li {
	margin-bottom: 0px;
}

.text_navi li {
	float: none;
	width: 100%;
	border-bottom: solid 2px #f0efef;
	height: 48px;
	line-height: 48px;
}

.text_navi li a {
	display: block;
}

.text_navi_social {
	width: 50%;
}

.single_footer_area {padding: 0;}
.single_footer_area h4 {margin: 0 0 20px 0;}

.single_footer_recommend dl, .single_footer_recommend dl:nth-child(2), .single_footer_recommend dl:nth-child(4) {
	float: none;
	width: 100%;
	margin: 0 10px 20px 10px;
}

.single_footer_writter {margin: 0 10px 20px 10px;}
.single_footer_writter p:nth-child(1) {width: 30%;}
.single_footer_writter p:nth-child(2) {
	width: 66%;
	margin: 0 0 0 4%;
	font-size: 12px;
	line-height: 20px;
}




}

