@charset "UTF-8";
/*==================================================================
1. body
===================================================================*/
body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}
#wrapper{
	width: 100%;
}

a {
	color: 000;
	text-decoration: none;
}

/*==================================================================
2. header
===================================================================*/
#header{
	width: 100%;
	max-width: 1000px;
	min-width: 980px;
	margin: 0 auto;
}

.header_area{
	width: 60%;
	float: left;
}

#header h1{
	float: left;
}

#header h2{
	margin: 10px 0 0 0;
	font-size: 12px;
}

.utility{
	width: 40%;
	float: left;
	margin: 10px 0 0 0
}

.utility ul{
	margin: 0 0 30px 0;
}

.utility ul li{
	width: 25%;
	float: left;
	font-size: 12px;
	text-indent: 10px;
}

.utility ul li:nth-child(1){
	background: url(../img/ico_01.png) no-repeat left center;
}

.utility ul li:nth-child(2){
	background: url(../img/ico_02.png) no-repeat left center;
}

.utility ul li:nth-child(3){
	background: url(../img/ico_03.png) no-repeat left center;
}

.utility ul li:nth-child(4){
	background: url(../img/ico_04.png) no-repeat left center;
}

.utility form{
	text-align: right;
	margin: 0 0 10px 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}
input[type="search"]:focus {
	outline-offset: -2px;
}
input[type="search"]::-webkit-search-decoration {
 	display: none;
}

.utility form input{
	width: 50%;
	max-width: 200px;
	font-size: 12px;
	padding: 4px;
	border: 1px solid #999;
}

/*==================================================================
3. navi
===================================================================*/
#navi{
	width: 100%;
	min-width: 1000px;
	min-width: 980px;
}

#navi ul li{
	float: left;
	width: 15.625%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
}

#navi ul li a{
	display: block;
}

#navi ul li:nth-child(2){
	border-bottom: 2px solid #e7141a;
}

#navi ul li:nth-child(3){
	border-bottom: 2px solid #eabd19;
}

#navi ul li:nth-child(4){
	border-bottom: 2px solid #009f3d;
}

#navi ul li:nth-child(5){
	border-bottom: 2px solid #0085c7;
}
#navi ul li:nth-child(6){
	border-bottom: 2px solid #000000;
}

#navi ul li:nth-child(2) a:hover{
	border-bottom: 4px solid #e7141a;
	height: 46px;
}

#navi ul li:nth-child(3) a:hover{
	border-bottom: 4px solid #eabd19;
	height: 46px;
}

#navi ul li:nth-child(4) a:hover{
	border-bottom: 4px solid #009f3d;
	height: 46px;
}

#navi ul li:nth-child(5) a:hover{
	border-bottom: 4px solid #0085c7;
	height: 46px;
}
#navi ul li:nth-child(6) a:hover{
	border-bottom: 4px solid #000000;
	height: 46px;
}

#navi ul li:first-child{
	width: 10.9375%;
	display: block;
	border-bottom: 2px solid #e7141a;
}
#navi ul li:last-child{
	width: 10.9375%;
	display: block;
	border-bottom: 2px solid #000000;
}

/*==================================================================
4. style setting
===================================================================*/
#contents{
	width: 78.125%;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 1000px;
}

/*==================================================================
5. headline
===================================================================*/
.headline{
	width: 78.125%;
	min-width: 1000px;
	margin: 0;
}

/*==================================================================
6. main
===================================================================*/
#main {
	width: 79%;
	float: left;
	margin: 50px 2% 0 0;
}

#main > article{
	width: 31.64556962%;
	float: left;
	margin: 0 2.5% 30px 0;
}

#main > article:nth-child(3n){
	margin: 0;
}

#main article dl{
	width: 100%;
}

#main article dt{
	font-size: 12px;
	width: 100%;
	color: #fff;
	line-height: 20px;
	text-indent: 5px;
	background: #009f3d; /*class*/
}

#main article dd{
	border: 1px solid #ccc;
}

#main article time{
	font-size: 14px;
	font-weight: bold;
}

#main article h3{
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 0 0 6%;
}

#main article p{
	font-size: 10px;
	color: #777777;
	text-align: right;
	margin: 0 6% 0 0;
	line-height: 30px;
}

#main > p{
	clear: both;
	width: 63%;
	line-height: 40px;
	background: #f0efef;
	text-align: center;
	margin: 0 auto;
}

#main > p a{
	display: block;
}

.post_data{
	width: 100%;
	margin: 5px 0 15px 0;
}

.post_data time{
	float: left;
	width: 40%;
	line-height: 40px;
	text-align: center;
	border-bottom: 2px solid #009f3d;
	margin: 0 6% 0 0;
}

.post_data ul {
	margin: 10px 0 0 0;
	width: 54%;
}

.post_data ul li{
	font-size: 10px;
	width: 37%;
	line-height: 16px;
	text-align: center;
	border: 2px solid #e7141a;
	border-radius: 16px;
	float: left;
	margin: 0 3%;
}


/*==================================================================
7. sidebar
===================================================================*/
#sidebar{
	width: 19%;
	min-width: 190px;
	float: left;
	margin: 50px 0 0 0;
}

#sidebar h4{
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	background: #000;
	text-align: center;
	margin: 0 0 20px 0;
}

#sidebar > section{
	margin: 0 0 50px 0;
}

.event_side ul li{
	margin: 0 0 20px 0;
	border: 1px solid #f0efef;
	font-size: 0;
}

.recommend_side article,.ranking_side article {
	border-top: 1px solid #f0efef;
	border-left: 1px solid #f0efef;
	border-right: 1px solid #f0efef;
}

.recommend_side article:nth-child(6),.ranking_side article:nth-child(6){
	border-bottom: 1px solid #f0efef;
}

.ranking_side article{
	position: relative;
}

.recommend_side article dt,.ranking_side article dt{
	float: left;
	width: 58px;
	border-right:1px solid #f0efef;
}

.recommend_side article dd,.ranking_side article dd{
	float: left;
	width: 124px;
	font-size: 10px;
	line-height: 14px;
	margin: 9px 0 0 4px;
}

.ranking_number{
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-indent: 2px;
	background: url(../img/bg_01_ranking.png) no-repeat left top;
	color: #FFFFFF;
	font-size: 10px;
}

.link_side p{
	border: 2px solid #f0efef;
}

.more_side {
	width: 100%;
	font-size: 10px;
	line-height: 14px;
	line-height: 30px;
	background: #f0efef;
	text-align: center;
	margin: 20px 0 0 0;
}

/*==================================================================
8. footer
===================================================================*/
#footer{
	width: 100%;
	margin: 50px 0 0 0;
}

#footer p:nth-child(2){
	text-align: center;
	margin: 50px 0 0 0;
}

.text_navi {
	margin: 30px auto;
	width: 46.875%;
	min-width: 600px;
}

.text_navi li{
	float: left;
	width: 20%;
	font-size: 12px;
	text-align: center;
}

.text_navi_social {
	width: 15.625%;
	margin: 0 auto 30px auto;
}

.text_navi_social li{
	float: left;
	width: 50%;
	text-align: center;
}

address{
	text-align: center;
	margin: 10px 0;
	font-size: 12px;
}

/*==================================================================
9. single
===================================================================*/
.single_content{
	border: 1px solid #d2d2d2;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.single_header{
	margin: 70px 0 0 0;
}

.single_header_data{
	border-bottom: 2px solid #eabd19;
	padding: 0 0 20px 0;
	margin: 0 0 40px 0;
}

.single_header_data ul{
	float: left;
	margin: 0 0 0 17.7215%;
}

.single_header_data p{
	float: left;
	font-size: 24px;
	font-weight: bold;
	text-indent: 8.8608%;
}

.single_header_data ul li{
	float: left;
	font-size: 10px;
	width: 60px;
	line-height: 16px;
	text-align: center;
	border: 2px solid #e7141a;
	border-radius: 16px;
	margin: 0 20px 0 0;
}

.single_header_data h2{
	float: right;
	background: #eabd19;
	color: #FFF;
	font-size: 14px;
	padding: 3px 0;
	width: 31.6456%;
	text-indent: 5px;
}

.single_header_area{
	margin: 0 8.8608%;
}

.single_header_area h1{
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
}

.single_btn{
	margin: 30px 0 50px 0;
}

.single_btn li{
	float: left;
	margin: 0 20px 0 0;
}
/* 記事作成に関するCSS */
.single_area{
	padding: 0 8.8608% 70px 8.8608%;
}

.single_area p{
	font-size: 14px;
	line-height: 40px;
}

.single_area h2{
	font-size: 20px;
	text-indent: 1.333%;
	border-left: 5px solid #000;
	margin: 20px 0 ;
}

.single_area p > img{
	width: 100%;
	margin: 20px 0;
	border: 1px solid #d2d2d2;
}

.single_area p:last-child{
	text-align: right;
}

.single_footer_area{
	padding: 0 8.8698%;
}

.single_footer_area h4{
	font-size: 12px;
	line-height: 20px;
	text-indent: 5px;
	color: #FFF;
	background: #000;
	margin: 0 0 40px 0;
}

.single_footer_writter{
	margin: 0 0 50px 0;
}

.single_footer_writter p:nth-child(1){
	float: left;
	width: 150px;
}

.single_footer_writter p:nth-child(2){
	float: left;
	width: 440px;
	font-size: 14px;
	line-height: 30px;
	margin: 0 0 0 50px;
}

.single_footer_recommend{

}

.single_footer_recommend dl:nth-child(1),.single_footer_recommend dl:nth-child(3){
	float: left;
}

.single_footer_recommend dl:nth-child(2),.single_footer_recommend dl:nth-child(4){
	float: right;
}

.single_footer_recommend dl{
	width: 300px;
	margin: 0 0 50px 0;
}

.single_footer_recommend dt{
	float: left;
}

.single_footer_recommend dt img{
	width: 95px;
	border: 1px solid #d2d2d2;
}

.single_footer_recommend dd{
	width: 200px;
	height: 97px;
	float: left;
	line-height: 20px;
	font-size: 14px;
	padding: 10px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.single_footer_comment{
	padding: 0 0 70px 0;
}

/* ------------------------------------------------------------------
1-1. Font color styles
-------------------------------------------------------------------*/
/*
page top styles
-------------------------------------------------------------------*/
